/*CSS RESET*/
*{
    margin 0;
    padding: 0;
    box-sizing: border-box
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(224, 6, 6);
}
li {
    float: left;
}
li a{
    display: block;
    color: #ffffff;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}
h1{
    color: rgb(0, 0, 0);(0, 187, 156)
    font-size: 20pt;
}
h2{
    color: rgb(0, 0, 0);(0, 187, 156)
    font-size: 20pt;
}
ul.navigatuion{
    display: flex;
    list-style: none;
    gap: 20px;
    background-color: rgb(173, 24, 153);
}
.navigation a{
    text-decoration: none;
    display: block;
    padding: 10px;
}
header{
    background-color: gold;
}
.navigation :hover{
    background-color: rgb(146, 0, 0);
}
footer{
    background-color: rgb(255, 255, 255);
    padding: 20px;
}
    img{
        max-width: 100%;
        height: auto;
        border-radius: 10px;
    }

.container{
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 20px;;
    border-radius: 15px;
}
.container div{
    background-color: rgb(160, 159, 157);
    margin: 5px;
    padding: 20px;
    border-radius: 15px;
}
/*Responsive Design*/
@media screen and (min-width: 330px) and (max-width: 768px) {
  body {
    background-color: gold;
    .flex-nav-container {
        flex-direction: column;
    gap: 8px;
    }
  }
ul.navigatuion{
    display: flex;
    list-style: none;
    gap: 20px;
    background-color: rgb(173, 24, 153);
}
.navigation a{
    text-decoration: none;
    display: block;
    padding: 10px;
}
h1{
    font-size: 14pt;
}
}
section{
    color: #ff0000;
}
.mycontainer{
    display: block;
    grid-template-rows: auto auto auto;
    padding: 20px;;
    border-radius: 15px;
}
.mycontainer div{
    background-color: rgb(223, 223, 223);
    margin: 5px;
    padding: 20px;
    border-radius: 15px;
}
tr:hover {background-color: #ddd;}
.icontainer{
    display: flex;
    border: 0px solid black;
    flex-direction: row;
    justify-content: center;
    min-height: 1px;
    align-items: space-evenly;
    flex-wrap: wrap;
    align-content: space-evenly;
    gap: 100px;
}
div class="search-container" {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    text-align: left;
    margin-top: 100px;
}

.search-container {
    display: inline-block;
}

#searchInput {
    width: 250px;
    padding: 5px;
    font-size: 16px;
    border-radius: 5px;
}

button {
    padding: 9px 20px;
    font-size: 12px;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: lightblue;
}